<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="miraj.biid.com.pani_200">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/pani_logo"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:testOnly = "false"
        android:theme="@style/AppTheme">

        <provider
            android:authorities="miraj.biid.com.pani_200.provider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <uses-library android:name="com.google.android.maps"/>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FarmerMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddFieldsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FarmerFieldListActivity"
            android:parentActivityName=".FarmerMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FieldDetailsInputActivity"
            android:parentActivityName=".FarmerMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LSPMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LspViewMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LSPFieldListActivity"
            android:parentActivityName=".LSPMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LSPScheduleActivity"
            android:parentActivityName=".LSPMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhotoAnalyzeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageUploading"
            android:parentActivityName=".FarmerFieldListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewAlertMessage"
            android:parentActivityName=".FarmerFieldListActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".MyMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".MyInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBXQoa9E1fpsmx81rLFx15LbXhS6KK7CDU"/>
</application>

</manifest>